html,
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1ffff+0,e1ffff+0,fdffff+0,e1ffff+0,e6f8fd+16,c8eefb+48,bee4f8+74,b1d8f5+100 */
  background: #e1ffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #e1ffff 0%, #e1ffff 0%, #fdffff 0%, #e1ffff 0%, #e6f8fd 16%, #c8eefb 48%, #bee4f8 74%, #b1d8f5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e1ffff 0%,#e1ffff 0%,#fdffff 0%,#e1ffff 0%,#e6f8fd 16%,#c8eefb 48%,#bee4f8 74%,#b1d8f5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e1ffff 0%,#e1ffff 0%,#fdffff 0%,#e1ffff 0%,#e6f8fd 16%,#c8eefb 48%,#bee4f8 74%,#b1d8f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 ); /* IE6-9 */

  overflow-x: scroll; 
  overflow-y: scroll; 
  font-family: sans-serif;
  height: 100%;
}

.motherContainer {
  width: 1000px;
  margin: 0px auto;
}

/*=========== THE JUMBOTRON CONTAINER ===========*/
.jumbotron {
  width: 1000px;
  height: 350px;
  background: url('./brooklynSkyline.jpg');
  margin: 0px auto;
  background-size: 100%;
  text-align: center;
  line-height: 350px;
  vertical-align: middle;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  border-radius: 15px;
}

.welcomeText {
  font-weight: bolder;
  font-size: 65px;
  color: white;
}
/*=========== THE NAV BAR CONTAINER =============*/


.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

    .nav li {
        border: 2px solid #28aadc;
        height: 33px;
        padding-left: 5px;
        border-radius: 5px;
        padding-right: 5px;
        color: #28aadc;
        display: inline-block;
        font-size: 15px;
        line-height: 33px;
        margin: 4px 4px;
        cursor: pointer;
    }

    .nav li:hover {
        background-color: #28aadc;
        color: white;
    }
    
    .nav li a {
       text-decoration: none;
       color: #28aadc;
    }

    .nav li:hover a {
        color: white;
    }




/*================ PROFILE PAGE ==================*/

/*About me*/
.aboutMeParentContainer {
  margin: 5px auto;
  border: 1px solid black;
  padding: 5px;
  width: 800px;
  vertical-align: top;
}

    .profilePicture {
      width: 250px;
      height: 250px;
      border: 1px solid black;
      display: inline-block;
      vertical-align: top;

    }

    .profileDescription {
      width: 530px;
      border: 1px solid black;
      margin-left: 10px;
      height: 250px;
      display: inline-block;
      vertical-align: top;

    }


/*User Made Events Events*/
.createdEventsListParentContainer {
  margin-top: 10px;
  border: 1px solid black;
  padding: 5px;
  width: 800px;
  margin: 5px auto;
}

    .eventContainer {
      width: 780px;
      height: 150px;
      border: 1px solid black;
      /*display: inline-block;*/
      margin: 5px 5px;
      text-align: middle;
    }

/*================ SEARCH PAGE ==================*/

.searchTourEntry {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: inline-block;
  padding: 2.5px;
  margin: 2.5px;
}












