body {
  overflow-x: scroll; 
  overflow-y: scroll; 
  font-family: sans-serif;
}

.motherContainer {
  width: 1000px;
  margin: 0px auto;
}

/*=========== THE JUMBOTRON CONTAINER ===========*/
.jumbotron {
  width: 100%;
  height: 420px;
  background: url('./brooklynSkyline.jpg');
  background-repeat: no-repeat;
  margin: 0px auto;
  background-size: 100%;
  text-align: center;
  /*line-height is hard coded. refactor to make dynamic*/
  line-height: 300px;
  vertical-align: middle;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.welcomeText {
  font-weight: bolder;
  font-size: 70px;
  color: white;
}
/*=========== THE NAV BAR CONTAINER =============*/


.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  padding-left: 5px;
}

/*================ PROFILE PAGE ==================*/

.profileMotherContainer {
  width: 1000px;
  margin: 0 auto;
}

/*About me*/
.aboutMeParentContainer {
  margin: 5px auto;
  padding: 5px;
  width: 850px;
  vertical-align: top;
}
    .welcomeBackTitle {
      font-size: 25px;
    }

    .profilePicture {
      width: 250px;
      height: 250px;
      border: 1px solid #B0B0B0;
      display: inline-block;
      vertical-align: top;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url('./default-male-avatar.png');
    }

    .aboutMeContainer {
      vertical-align: top;
      display: inline-block;
      margin-left: 10px;
    }

    .aboutMe {
      width: 530px;
      border: 1px solid #B0B0B0;
      height: 250px;
      display: inline-block;
      vertical-align: top;
    }

    .aboutMeSubmitButton {
      display: block;
      margin-top: 5px;
    }

    .aboutMeForm {
      display: inline;
    }
/**/
.createTourForm {
  width: 850px;
  margin: 5px auto;
}

/*User Made Events Events*/
.createdToursListParentContainer {
  margin-top: 10px;
  padding: 5px;
  width: 850px;
  margin: 5px auto;
}
    .hostedTourTitle {
      font-size: 25px;
    }

    .tourContainer {
      width: 780px;
      height: 150px;
      border: 1px solid #B0B0B0;
      background-color: #F8F8F8;
      margin: 5px 5px;
      text-align: middle;
    }

/*================ SEARCH PAGE ==================*/


.searchContainer {
  overflow: hidden;
}


.searchMapContainer {
  z-index: -1;
  display: inline;
  position: fixed;
  width: 49%;
  height: 650px;
  margin-left: 50%;
}

.map {
  width: 100%;
  height: 100%;
}

.searchList-BarContainer {
  display: inline;
  float: left;
  width: 49%;
  margin-left: 1%;
}

.searchListContainer {
  margin-top: 2%;
}

.searchInput {
  margin-left: 1%;
}

.searchTourEntry {
  width: 500px;
  height: 163px;
  border: 1px solid #B0B0B0;
  display: inline-block;
  margin: 2.5px;
  position: relative;
  background-size: 100%;
  font-weight: bold;
  color: white;
}
.searchListEntryName {
  text-align: center;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.25);

}
.searchListEntryPrice {
  font-size: 15px;
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding: 2.5px 7.5px;
  background-color: rgba(0, 0, 0, 0.25);
}




/*================ MODAL ==================*/

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.custom-modal {
  width: 300px;
  margin-top: 175px;
}

.sign- > * {
  margin-top: 2.5px;
}

.sign- > input {
  width: 250px;
  height: 35px;
  vertical-align: middle;
}






