body {
  overflow-x: scroll; 
  overflow-y: scroll; 
  font-family: sans-serif;
}

.motherContainer {
  width: 1000px;
  margin: 0px auto;
}

/*=========== THE JUMBOTRON CONTAINER ===========*/
.jumbotron {
  width: 1000px;
  height: 350px;
  background: url('./brooklynSkyline.jpg');
  margin: 0px auto;
  background-size: 100%;
  text-align: center;
  line-height: 350px;
  vertical-align: middle;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.welcomeText {
  font-weight: bolder;
  font-size: 65px;
  color: white;
}
/*=========== THE NAV BAR CONTAINER =============*/


.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  padding-left: 5px;
}

/*================ PROFILE PAGE ==================*/

/*About me*/
.aboutMeParentContainer {
  margin: 5px auto;
  border: 1px solid black;
  padding: 5px;
  width: 800px;
  vertical-align: top;
}

    .profilePicture {
      width: 250px;
      height: 250px;
      border: 1px solid black;
      display: inline-block;
      vertical-align: top;

    }

    .profileDescription {
      width: 530px;
      border: 1px solid black;
      margin-left: 10px;
      height: 250px;
      display: inline-block;
      vertical-align: top;

    }


/*User Made Events Events*/
.createdEventsListParentContainer {
  margin-top: 10px;
  border: 1px solid black;
  padding: 5px;
  width: 800px;
  margin: 5px auto;
}

    .eventContainer {
      width: 780px;
      height: 150px;
      border: 1px solid black;
      /*display: inline-block;*/
      margin: 5px 5px;
      text-align: middle;
    }

/*================ SEARCH PAGE ==================*/

.searchTourEntry {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: inline-block;
  padding: 2.5px;
  margin: 2.5px;
}



.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.custom-modal {
  width: 300px;
}










